<li>
	<%= link_to user.name, user %>
   	<% if current_user.admin? %>
 		| <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                             		  :title => "Delete #{user.first_name} #{user.last_name}" %>
	<% end %>

</li>

