<p><h1>The Auto Store</h1></p>
<br/>
<p>Open Monday through Friday from 8am to 6pm
<br/>and Saturdays 8am to 4pm</p>
<p>Phone: (210)-456-4500</p>
<p>Fax: (210)-456-4501</p>
<p>4565 Babcock Rd
<br/>San Antonio, TX 78240 </p>

<%= map %>