<% if signed_in? %>
  <table>
    <tr>
      <td >
        <h1>Make an Appointment</h1>
        <%= render 'shared/appointment_form' %>
      </td>
      <td>
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>

<p><h3>The Web Service Appointment Scheduler from The Auto Store</h3></p>

<div id="content">
Please go ahead and sign in just provide us with your information so we can be as prepared 
as possible when you stop in. We also provide complimentary pick-up and drop-off 
service and courtesy rides.</p>

<p>Please allow at least 24 hours before your requested appointment is processed.</p> 


</div>
<p><br/><br/>New customers <%= link_to "Sign up here!", signup_path %></p>

<% end %>