
<p><h3>The Web Service Appointment Scheduler from The Auto Store</h3></p>

<div id="home">
Please go ahead and sign in (if you are a new customer <%= link_to "sign up here", signup_path %>), 
just provide us with your information so we can be as prepared 
as possible when you stop in. We also provide complimentary pick-up and drop-off 
service and courtesy rides.</p>

<p>Please allow at least 24 hours before your requested appointment is processed.</p> 

</div>
