<form method="post" action=''>
<p><label>Username:</label><input name="firstname" type="text" size="20" maxlength="25" /></p>
<p><label>Password:</label><input name="pass" type="password" size="20" maxlength="25" /></p>
<input type="submit" value="Sign in" />	


</p>
</form>
