#background {
	background-position: center;
	background-color: #1E2D40;
	color: #FFFFFF;
}
#center {
	margin: 0px auto 0px auto;
	width: 1000px;
	font-family: arial, Helvetica, sans-serif;

}

#header {
	background-position: left;
	border-color: #CCCCCC;
	box-shadow: 4px 4px 5px 2px #000000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 150px;
	width: 1000px;
	position: relative;
	border-top-style: groove;
	border-right-style: groove;
	border-left-style: groove;
	background-color: #131D29;

}
#inheader {
	height: 150px;
	width: 350px;
	margin: 0px auto 0px auto;

}
#rows {
	border-color: #CCCCCC;
	border-left-style: groove;
	background-color: #131D29;
	position: absolute;
	min-height: 850px;
	margin-right: 200px;
	width: 1000px;
	box-shadow: 4px 4px 5px 2px #000000;
	border-right-style: groove;
}
#top {
	font-size: 30px;
	font-weight:bold;
	background-color: #1E2D40;
	position: absolute;
	height: 80px;
	width: 1000px;
	text-align: center;
	
}

#navbar {
	height: 30px;
	width: 1000px;
	background-color: #2D3D54;
}
#keys {
	margin-left: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:bold;
}
a{
	text-decoration: none;
	color: #6699FF;
	vertical-align: middle;
}
#row1 {
	text-align: center;
	min-height: 600px;
	margin-right: 200px;
	margin-left: 25px;
	margin-top: 100px;
	width:950px; 
	position: absolute;
}

#footer {
	border-color: #CCCCCC;
	box-shadow: 4px 4px 5px 2px #000000;
	border-left-style: groove;
	border-bottom-style: groove;
	border-right-style: groove;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #1E2D40;
	margin-top: 850px;
	min-height: 120px;
	width: 1000px;
	position: relative;
	text-align: center;
}

.field, .actions{
	margin-bottom: 10px;
	text-align: right;
	line-height: 2em
}

#content{
	text-align: justify;
}
.field_with_errors {
  margin-top: 5px;
  background-color: red;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-right: 4px;
  padding-left: 4px;
}

.field_with_errors label {
  color: #fff;
}
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #333;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  text-align: left;
  padding: 5px;
}

#error_explanation ul li {
  text-align: left;
  font-size: 12px;
  list-style: square;
}

.flash {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 95%;
	border: 4px solid #669966;
	padding: 20px;
	font-weight: bold;
	color: #336633;
	background-color: #99CC99;
	font-style: italic;
}

.flash.error {
	color: #660000;
	background-color: #CC3333;
	border-color: #990000;
}

.flash.notice {
	color: #CC6600;
	background-color: #FFCC66;
	border-color: #FF9900;
}
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

